<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536725110561-32d9810pr6fh016jkfmer75172fulfjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536725110561-32d9810pr6fh016jkfmer75172fulfjg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>536725110561-kdrioohdp3i7u39rb8cpnrdkcvnf02k9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfGF4lPEsxoZa3iQzJQIR1p0eIJTPX8k0</string>
	<key>GCM_SENDER_ID</key>
	<string>536725110561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bmad.ojiis1</string>
	<key>PROJECT_ID</key>
	<string>ojiis-8b372</string>
	<key>STORAGE_BUCKET</key>
	<string>ojiis-8b372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536725110561:ios:933e366504e8d0fc098860</string>
	<key>DATABASE_URL</key>
	<string>https://ojiis-8b372.firebaseio.com</string>
</dict>
</plist>