<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Smiley(001).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Wink(002).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Party(003).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>PartyFail(004).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>UpsideDown(005).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>WinkyTongue(006).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>Liar(007).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>Cutie(008).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>FakeLaugh(009).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>CheekKiss(010).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>Exhausted(011).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>Yummy(012).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>Sorry(013).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>Sad(014).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>Angry(015).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>Furious(016).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>name</key>
		<string>Disgusting(017).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>name</key>
		<string>Weary(018).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>name</key>
		<string>BlowAKiss(019).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>name</key>
		<string>Kiss(020).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>name</key>
		<string>Hearts(021).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>21</integer>
		<key>name</key>
		<string>Fuming(022).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>22</integer>
		<key>name</key>
		<string>LovingIt(023).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>23</integer>
		<key>name</key>
		<string>Crying(024).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>24</integer>
		<key>name</key>
		<string>Thinking(025).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>25</integer>
		<key>name</key>
		<string>OMG(026).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>26</integer>
		<key>name</key>
		<string>Whatever(027).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>27</integer>
		<key>name</key>
		<string>SealedLips(028).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>28</integer>
		<key>name</key>
		<string>FallingAsleep(029).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>29</integer>
		<key>name</key>
		<string>Sleeping(030).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>30</integer>
		<key>name</key>
		<string>Sick(031).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>31</integer>
		<key>name</key>
		<string>SmileyDevil(032).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>32</integer>
		<key>name</key>
		<string>AngryDevil(033).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>33</integer>
		<key>name</key>
		<string>BlowingNose(034).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>34</integer>
		<key>name</key>
		<string>Contagious(035).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>35</integer>
		<key>name</key>
		<string>Feverish(036).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>36</integer>
		<key>name</key>
		<string>Hurt(037).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>37</integer>
		<key>name</key>
		<string>Angelic(038).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>38</integer>
		<key>name</key>
		<string>Slient(040).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>39</integer>
		<key>name</key>
		<string>ShutIt(040).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>40</integer>
		<key>name</key>
		<string>Poop(041).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>41</integer>
		<key>name</key>
		<string>BirthdayCake(042).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>42</integer>
		<key>name</key>
		<string>Skeptical(043).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>43</integer>
		<key>name</key>
		<string>ShowOff(044).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>44</integer>
		<key>name</key>
		<string>MyBad(045).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>45</integer>
		<key>name</key>
		<string>Ghost(046).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>46</integer>
		<key>name</key>
		<string>Skull(047).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>47</integer>
		<key>name</key>
		<string>Alien(048).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>48</integer>
		<key>name</key>
		<string>HighFive(049).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>49</integer>
		<key>name</key>
		<string>Applause(050).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>50</integer>
		<key>name</key>
		<string>Praying(051).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>51</integer>
		<key>name</key>
		<string>Nerd(052).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>52</integer>
		<key>name</key>
		<string>CoolGuy(053).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>53</integer>
		<key>name</key>
		<string>Handshake(055).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>54</integer>
		<key>name</key>
		<string>Okay(055).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>55</integer>
		<key>name</key>
		<string>WaitAMinute(057).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>56</integer>
		<key>name</key>
		<string>#1(057).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>57</integer>
		<key>name</key>
		<string>FistBump(060).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>58</integer>
		<key>name</key>
		<string>ThumbsUp(059).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>59</integer>
		<key>name</key>
		<string>ThumbsDown(060).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>60</integer>
		<key>name</key>
		<string>Protest(061).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>61</integer>
		<key>name</key>
		<string>FingersCrossed(062).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>62</integer>
		<key>name</key>
		<string>Peace(063).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>63</integer>
		<key>name</key>
		<string>RockNRoll(064).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>64</integer>
		<key>name</key>
		<string>YouGotIt(065).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>65</integer>
		<key>name</key>
		<string>Trekkie(066).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>66</integer>
		<key>name</key>
		<string>LMFAO(067).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>67</integer>
		<key>name</key>
		<string>MiddleFinger(068).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>68</integer>
		<key>name</key>
		<string>Flexing(069).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>69</integer>
		<key>name</key>
		<string>LemmeSee(070).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>70</integer>
		<key>name</key>
		<string>Selfie(071).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>71</integer>
		<key>name</key>
		<string>Waving(072).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>72</integer>
		<key>name</key>
		<string>HeartBroken(073).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>73</integer>
		<key>name</key>
		<string>Can&apos;tHearYou(074).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>74</integer>
		<key>name</key>
		<string>Jack-O&apos;-Lantern(075).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>75</integer>
		<key>name</key>
		<string>Police(076).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>76</integer>
		<key>name</key>
		<string>Doctor(077).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>77</integer>
		<key>name</key>
		<string>Detective(078).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>78</integer>
		<key>name</key>
		<string>Racecar(079).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>79</integer>
		<key>name</key>
		<string>Cycling(080).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>80</integer>
		<key>name</key>
		<string>Surfer(081).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>81</integer>
		<key>name</key>
		<string>Golf(082).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>82</integer>
		<key>name</key>
		<string>Skiing(083).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>83</integer>
		<key>name</key>
		<string>Snowboarder(084).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>84</integer>
		<key>name</key>
		<string>Dancing(085).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>85</integer>
		<key>name</key>
		<string>IDK(086).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>86</integer>
		<key>name</key>
		<string>Facepalm(087).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>87</integer>
		<key>name</key>
		<string>SHHHH(088).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>88</integer>
		<key>name</key>
		<string>ThrowingUp(089).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>89</integer>
		<key>name</key>
		<string>MindBlown(090).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>90</integer>
		<key>name</key>
		<string>Anxious(091).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>91</integer>
		<key>name</key>
		<string>Money(092).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>92</integer>
		<key>name</key>
		<string>Aha!(093).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>93</integer>
		<key>name</key>
		<string>Smoking(094).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>94</integer>
		<key>name</key>
		<string>CloseUp(095).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>95</integer>
		<key>name</key>
		<string>Gamer(096).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>96</integer>
		<key>name</key>
		<string>Hockey(097).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>97</integer>
		<key>name</key>
		<string>Football(098).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>98</integer>
		<key>name</key>
		<string>Baseball(099).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>99</integer>
		<key>name</key>
		<string>Basketball(100).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>100</integer>
		<key>name</key>
		<string>AmericanFootball(101).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>101</integer>
		<key>name</key>
		<string>Gift(102).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>102</integer>
		<key>name</key>
		<string>Balloon(103).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>103</integer>
		<key>name</key>
		<string>Celebration(104).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>104</integer>
		<key>name</key>
		<string>Santa(105).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>105</integer>
		<key>name</key>
		<string>Fireworks(106).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>106</integer>
		<key>name</key>
		<string>OnFire(107).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>107</integer>
		<key>name</key>
		<string>Raining(108).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>108</integer>
		<key>name</key>
		<string>Painting(109).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>109</integer>
		<key>name</key>
		<string>PlayingMusic(110).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>110</integer>
		<key>name</key>
		<string>Singing(111).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>111</integer>
		<key>name</key>
		<string>BringIt(112).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>112</integer>
		<key>name</key>
		<string>BeerO&apos;Clock(113).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>113</integer>
		<key>name</key>
		<string>Tipsy(114).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>114</integer>
		<key>name</key>
		<string>WineTime(115).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>115</integer>
		<key>name</key>
		<string>HappyHour(116).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>116</integer>
		<key>name</key>
		<string>TeaTime(117).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>117</integer>
		<key>name</key>
		<string>CoffeeTime(118).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>118</integer>
		<key>name</key>
		<string>StPatricksDay(119).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>119</integer>
		<key>name</key>
		<string>Flowers(120).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>120</integer>
		<key>name</key>
		<string>Yawning(121).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>121</integer>
		<key>name</key>
		<string>Beaten-Up(122).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>122</integer>
		<key>name</key>
		<string>MakingFaces(123).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>123</integer>
		<key>name</key>
		<string>Shrug(124).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>124</integer>
		<key>name</key>
		<string>Curious(125).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>125</integer>
		<key>name</key>
		<string>OnThePhone(126).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>126</integer>
		<key>name</key>
		<string>Freezing(127).png</string>
		<key>isFree</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<integer>127</integer>
		<key>name</key>
		<string>What(128).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>128</integer>
		<key>name</key>
		<string>Snowing(129).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>129</integer>
		<key>name</key>
		<string>ThankYou(130).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>130</integer>
		<key>name</key>
		<string>Farting(131).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>131</integer>
		<key>name</key>
		<string>Reading(132).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>132</integer>
		<key>name</key>
		<string>Bored(133).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>133</integer>
		<key>name</key>
		<string>StopIt(134).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>134</integer>
		<key>name</key>
		<string>Bomb(135).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>135</integer>
		<key>name</key>
		<string>Mocking(136).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>136</integer>
		<key>name</key>
		<string>NotFunny(137).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>137</integer>
		<key>name</key>
		<string>BrainDead(138).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>138</integer>
		<key>name</key>
		<string>Hungry(139).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>139</integer>
		<key>name</key>
		<string>JawDropping(140).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>140</integer>
		<key>name</key>
		<string>Hangover(141).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>141</integer>
		<key>name</key>
		<string>Thirsty(142).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>142</integer>
		<key>name</key>
		<string>Don&apos;tWantToSee(143).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>143</integer>
		<key>name</key>
		<string>BlahBlahBlah(144).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>144</integer>
		<key>name</key>
		<string>StuckInYourTeeth(145).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>145</integer>
		<key>name</key>
		<string>Crazy(146).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>146</integer>
		<key>name</key>
		<string>You&apos;reLate(147).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>147</integer>
		<key>name</key>
		<string>Blushing(148).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>148</integer>
		<key>name</key>
		<string>Two-Faced(149).png</string>
		<key>isFree</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<integer>149</integer>
		<key>name</key>
		<string>Confused(150).png</string>
		<key>isFree</key>
		<false/>
	</dict>
</array>
</plist>
